.navbar.is-spacious {
    padding-top: 0.5rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
}
a.navbar-item.is-active{
    color: blue;
    border-bottom-style: solid;
    border-width: medium
}