.card-footer{
    border-top: 0px !important;
}

.products {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    position: relative;
    margin: 1%;
    width: 23%;
    min-height: 410px;
    // height: 410px;
    transition: all .1s ease-in;
}


.card:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.rating{
    height: 24px;
}

.addicon {
    position: relative;
    top:35%;
}

